body{ 
	background-color: #043a52;
	overflow-x: hidden;
	
}


.text{
	margin-top: 50px;
	font-size: 30px;
	text-align: center;
	color: yellow;
    text-transform: uppercase;
}

.soc0{ 
	text-align: center;
	margin-top: 30px;

}
.soc{
 text-align: center;
 margin-left: 25px;

}
.img0{
	display: inline-block;
	background: #456b95  ;
	width: 62px;
	height: 62px;
	border-radius:  50%;

}
.img1{
	padding:20px 0;

	width: 40px;
	height: auto;

}


.form1{
	text-align: center;
	margin-top: 25px;
}
.inp{

	border: solid yellow;
	border-radius: 5px;
	margin-top: 20px;
	width: 250px;
	height: 40px;
}

.select1{
	border: solid yellow;
	border-radius: 5px;
	margin-top: 20px;
	width: 60px;
	height: 40px;
}
.inp1{
	border: solid yellow;
	border-radius: 5px;
	margin-top: 20px;
	width: 160px;
	height: 40px;

}
@media(max-width: 1002px){
.span1{
	display: none;
}
}
.span1{
	color: white;
	display: inline-block;
}



.recapycha{
margin-top: 10px;
}

.g-recaptcha{
	width: 300px;
	margin:auto;
}

.checkbox{
	margin-top: 20px;
	color: white;
}
.but{
	margin-bottom: 25px;
	background: linear-gradient(to top ,yellow,white);
	border: solid yellow;
	border-radius: 5px;
	margin-top: 20px;
	width: 250px;
	height: 40px;

}
.h3{
	color: white;

}
.h5{
	color: white;
}
.f1{
	width: 250px;
	margin: auto;
	color: white;
}

































